
body {
	margin: 0px;
}

.app {
    font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
    max-width: 1000px;
    margin: 0 auto;
		min-width: 320px;
		min-height: 620px;
		position: relative;

    html, body, div, span, applet, object, iframe,
    h1, h2, h3, h4, h5, h6, p, blockquote, pre,
    a, abbr, acronym, address, big, cite, code,
    del, dfn, em, img, ins, kbd, q, s, samp,
    small, strike, strong, sub, sup, tt, var,
    b, u, i, center,
    dl, dt, dd, ol, ul, li,
    fieldset, form, label, legend,
    table, caption, tbody, tfoot, thead, tr, th, td,
    article, aside, canvas, details, embed,
    figure, figcaption, footer, header, hgroup,
    menu, nav, output, ruby, section, summary,
    time, mark, audio, video {
        /*margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;*/
        box-sizing:border-box;
        font-weight: lighter;
    }

    ol, ul {
        list-style: none;
    }
    blockquote, q {
        quotes: none;
    }
    blockquote:before, blockquote:after,
    q:before, q:after {
        content: '';
        content: none;
    }
    table {

    }

    .link {
        //text-decoration: none;
        all: unset;
    }
}


.overlay-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(91, 91, 91, 0.26);
    z-index: 150;
    top: 0;
    left: 0;
    display: none;

    &:before {
        content: "";
        position: absolute;
        background-image: url(../images/loading-circle.gif);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 100%;
        display: block;
        width: 32px;
        height: 32px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.overlay-loading--show {
        display: block;
    }
}

.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    transition: all .3s ease-out .02s;
    color: #444;

    &.caret--rotate {
        transform: rotate(180deg);
    }
}

.close-button{
    outline: 0;
    margin-top: -2px;
    padding: 0 0 0 8px;
    cursor: pointer;
    background: 0 0;
    border: 0;

    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;

    &:focus, &:hover {
        color: #000;
        text-decoration: none;
        cursor: pointer;
        filter: alpha(opacity=50);
        opacity: .5;
    }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.no-link {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.bullet {
    padding: 0 4px;
    color: #c2c6cc;
    line-height: 1.4;
}

.left-block {
	width: 49%;
	display: inline-block;
}

.right-block {
	width: 49%;
	display: inline-block;
	margin-left: 16px;
	vertical-align: top;
}

@media only screen and (max-width: 320px) {
  .left-block{
		width: 100%;
		display: block;
  }

	.right-block {
		width: 100%;
		display: block;
		margin-top: 8px;
		margin-left: 0px;
	}
}
@media only screen and (min-width: 321px) and (max-width: 1023px) {
	.left-block{
		width: 100%;
		display: block;
  }

	.right-block {
		width: 100%;
		display: block;
		margin-top: 8px;
		margin-left: 0px;
	}
}
