.purpose-course-request {
	//margin-bottom: 50px;
	vertical-align: baseline;
	box-shadow: 2px 2px 10px 0 #979797;
	margin: 0 auto;
	margin-top: 30px;

	.purpose-course-request__title-container {
		vertical-align: baseline;
        background-color: #646464;
        line-height: 60px;

		.purpose-course-request__title-container__title {
			color: #fff;
        	margin-left: 8px;
		}

		.purpose-course-request__title-container__icon {
			color: #fff;
        	cursor: pointer;
        	width: 36px;
        	display: inline-block;
        	text-align: center;
        	margin-left: 8px;
		}
	}

	.purpose-course-request__container {
		background: #fff;
		padding: 16px;
		min-height: 620px;

		.left-block {
			vertical-align: top;
			border-right: 1px solid #b1b1b1;
			padding: 8px;
			height: 100%;

			.button {
				margin-bottom: 8px;
			}

			.names {
				border-bottom: 1px solid #b1b1b1;
				font-size: 15px;
				cursor: default;
			}
		}

		.right-block {
			padding: 8px;
			height: 100%;

			.button {
				margin-bottom: 8px;
			}

			.names {
				border-bottom: 1px solid #b1b1b1;
				font-size: 15px;
				cursor: default;
			}
		}

		.purpose-course-request__container_event {
			vertical-align: top;
			height: 100%;

			.button {
				margin-bottom: 8px;
			}

			.event {
				width: 50%;
				display: inline-block;
				padding: 8px;
			}

			.date {
				width: 50%;
				display: inline-block;
				padding: 8px;
			}

			.input-calendar .input-calendar__icon {
				bottom: 14px;
			}
		}

		.submit {
			margin-top: 16px;
			font-size: 14px;
			margin-left: 8px;
		}

    .purpose-course-request__container__alert {
      padding: 8px;
    }
	}
}
