.pages {
    display: inline-block;
    vertical-align: top;
    //margin-left: 16px;
    float: right;
    text-align: right;

    .pages__page {
        outline: 0;
        padding: 0;
        line-height: 32px;
        text-align: center;
        width: 70px;
        border: 1px solid #B6B6B6;
        margin-left: 5px;
    }
    .pages__pages-count {
        text-align: center;
        display: inline-block;
        vertical-align: middle;
        width: 70px;
        line-height: 32px;
        font-size: 13.3px;
        border: 1px solid #B6B6B6;
        background-color: #eee;
        border-left: none;
        margin-right: 5px;
    }
}