//button
$button-primary-color: #ff5252;
$button-success-color: #4caf50;
$button-info-color: #369dbb;
$button-warning-color: #dc9f48;
$button-danger-color: #c74d49;

//alert
$alert-success-color: #dff0d8;
$alert-info-color: #d9edf7;
$alert-warning-color: #fcf8e3;
$alert-danger-color: #f2dede;