.dropdown-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    font-size: inherit;

    .dropdown-box__default-item {
        cursor: pointer;
        position: relative;
        border: none;
        background-color: #fff;
        color: #444444;
        border-bottom: 1px solid #B6B6B6;
        line-height: 29px;
        padding-left: 0px;
        text-align: left;
        outline: none !important;
        width: 100%;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        font-size: inherit;
    }

    .dropdown-list {
        position: absolute;
        //top: 48px;
        left: -1px;
        z-index: 1000;
        display: none;
        float: left;
        min-width: 160px;
        padding: 5px 0;
        margin: 0;
        list-style: none;
        font-size: 16px;
        text-align: left;
        background-color: #fff;
        border: 1px solid #ccc;
        border: 1px solid rgba(0,0,0,.15);
        border-radius: 4px;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
        background-clip: padding-box;
        max-height: 350px;
        overflow-y:auto;

        &.dropdown-list--display {
            display: block;
        }

        &.dropdown-list_up {
            top: auto;
            bottom: 100%;
            margin-bottom: 2px;
        }

        .dropdown-list__item {
            padding: 3px 20px;
            cursor: pointer;
            white-space: nowrap;
            line-height: 27px;

            &:hover {
                background-color: #87CEFA;
            }

            &.dropdown-list__item--selected {
                color: red;
            }
            &.dropdown-list__item--reset {
                opacity: .5;
                .reset {
                    padding: 0;
                    background: 0 0;
                    border: 0;
                    -webkit-appearance: none;
                    float: right;
                    font-size: inherit;
                    font-weight: 700;
                    color: #000;
                    text-shadow: 0 1px 0 #fff;
                    outline: none;
                    text-decoration: none;
                }
            }
        }

        .dropdown-list__devider {
            height: 1px;
            margin: 10px 0;
            overflow: hidden;
            background-color: #B6B6B6;
        }
    }

    .dropdown-box__title {
        margin-right: 10px;
        font-size: inherit;

        &.dropdown-box__title--description {
            color: #727272;
        }
    }

    .dropdown-box__caret {
        position: absolute;
        right: 0;
        top: calc(50% - 2px);
        margin-left: 24px;
        display: none;

        width: 0;
        height: 0;
        vertical-align: middle;
        border-top: 4px dashed;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        transition: all 0.3s ease-out 0.02s;
        color: #444;

        &.dropdown-box__caret--display{
            display: inline-block;
        }
    }
}

