.search-box {
    position: relative;
    display: inline-block;

    .search-box__search-input {
        height: 29px;
        line-height: 29px;
        padding: 0px 15px 0px 30px;
        border: 1px solid #B6B6B6;
        background-color: #fff;
        color: #444444;
        border-radius: 1px;
        outline: none;
        font-size: inherit;
        width: 245px;
    }
    .search-box__search-icon {
        position: absolute;
        left: 8px;
        color: #b6b6b6;
        top: 50%;
        transform:translateY(-50%);
    }
}


    

    



