$primaryTextColor: #212121;
$darkPrimaryColor: #045894;
$secondaryTextColor: #727272;

$fontSizeSm: 14px;
$fontSizeXs: 12px;


.textarea-box{
    position: relative;
    outline: 0;

    .textarea-box__hidden-block {
        white-space: pre-wrap;
        word-wrap: break-word;
        overflow-wrap: break-word;
        visibility: hidden;
        position: absolute;
        width: 98%;
        min-height: 30px;
        top: 0;
        font-size: inherit;
        font-family: sans-serif;
    }

    .textarea-box__input {
        overflow-y: hidden;
        padding: 1.6rem 0 0;
        padding-bottom: 0px;
        resize: none;
        min-height: 3rem;
        background-color: transparent;
        border: none;
        border-bottom: 1px solid #9e9e9e;
        border-radius: 0;
        outline: none;
        height: 3rem;
        width: 100%;
        margin: 0 0 15px 0;
        box-shadow: none;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        transition: all .3s;
        color: $primaryTextColor;
        font-size: inherit;
        font-family: sans-serif;

        &:focus {
            border-color: $darkPrimaryColor;
            border-width: 2px;
        }
    }

    .textarea-box__label {
        font-size: inherit;
        font-family: sans-serif;
        margin-top: 20px;
        position: absolute;
        left: 0;
        pointer-events: none;
        color: $secondaryTextColor;
        transition: all 0.2s ease;
        font-weight: lighter;
        //font-size: $fontSizeSm;

        &:hover {
            cursor: text;
        }
    }
}

@mixin input-box {
    position: relative;
    outline: 0;
}

@mixin input-box__input {
    padding: 5px;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,.26);
    margin-top: 20px;
    outline: 0;
    height: 35px;
    width: 100%;
    color: $primaryTextColor;
    font-size: inherit;
    font-family: sans-serif;
    text-overflow: ellipsis;
    overflow: hidden;
    padding-right: 25px;

    &:focus {
        border-color: $darkPrimaryColor;
        border-width: 2px;

        &.input-box__input--not-valid {
            border-bottom: 2px solid #ff5252;
        }
    }
}

@mixin input-box__label {
    font-size: 1rem;
    font-family: sans-serif;
    margin-top: 30px;
    position: absolute;
    left: 0;
    pointer-events: none;
    color: $secondaryTextColor;
    transition: all 0.2s ease;
    font-weight: lighter;
    font-size: inherit;

    &:hover {
        cursor: text;
    }
}

.input-box{
    @include input-box;

    .input-box__input {
        @include input-box__input;
    }

    .input-box__label {
        @include input-box__label;
    }
}

.textarea-box__label_detranslate {
    transform: translateY(0px);
}

.input-box__label_detranslate{
    transform: translateY(0px);
}

.textarea-box__input:focus,
.textarea-box__input_not-empty,
.textarea-box__label_translate {
    padding: 2.6rem 0 0.5rem 0;
}

.input-box__input:focus + .input-box__label,
.input-box__input_not-empty + .input-box__label,
.input-box__label_translate {
    color: $darkPrimaryColor;
    font-size: $fontSizeXs;
    font-weight: bold;
    transform: translateY(-25px);
}

.textarea-box__input:focus + .textarea-box__label,
.textarea-box__input_not-empty + .textarea-box__label,
.textarea-box__label_translate {
    color: $darkPrimaryColor;
    font-size: $fontSizeXs;
    font-weight: bold;
    transform: translateY(-140%);
}
